body {
  background-color: aliceblue !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: rgb(219, 223, 231);
  padding: 3px;
}
.wrapper-header {
  background-color: rgb(179, 199, 241);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  height: 40px;
  width: 100%;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  
}

#editor-wrapper {
  display: block;
  margin: 50px auto;
  max-width: 800px;
}
#editor{
  width: 100%;
  background-color: rgb(215, 224, 243);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  resize: vertical;
  min-height: 200px;
  height: 300px;
  padding: 1%;
  border: 1px solid black;
}
#preview-wrapper {
  max-width: 1000px;
  margin: 0px auto 30px auto;
}
#preview {
  display: block;
  background-color: rgba(185, 201, 231, 0.808);;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  min-height: 300px;
  overflow-wrap: break-word;
  padding: 2%;
  border: 1px solid black;
}
#preview img {
  max-width: 90%;
}
pre {
  background-color: rgb(219, 223, 231);
  padding: 10px;
}
#preview td, #preview th {
  border: 2px solid black;
  padding-left: 5px;
  padding-right: 5px;
}
h1 {
  border-bottom: 2px solid black;
}
h2 {
  border-bottom: 1px solid black;
}